.bg-black {
  background-color: rgba(0, 0, 0, 0.926) !important;
}

nav a::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 0;
  height: 2px !important;
  border-radius: 3px;
  background-color: #d6c3c3 !important;
  transition: width 0.5s ease-in;
} 
  

 nav a.active {
    color: #dc2626;
  }

  nav a:hover::after {
    width: 100%;
  }

  nav a.active::after {
    width: 100%;
    background-color: #dc2626 !important;
  }


@media screen and (max-width: 976px) {
  header .menu {
      display: block !important;
      background-color: rgba(0, 0, 0, 0.926) !important;
      position: fixed;
      padding: 2rem;
      border: none;
      width: 40% !important;
      height: calc(100vh - 50px) !important;
      right: 0 !important;
      top: 108px;
      animation: spin 0.4s ease-in-out;
      transition: all 0.5s ease-in-out;
      z-index: 10;
    
  }

  @keyframes spin {
    from {
      transform: rotateY(90deg) skew(3deg);
      perspective: 1000px;
      opacity: 0.4;
    }

    to {
      perspective: -1000px;
      transform: rotateY(0) skew(0);
      opacity: 1;
    }
  }
}

@media screen and (max-width: 600px) {
  header .menu {
    width: 75% !important;
  }
}
