@use "../../../scss/global/colors" as color;
@use "../../../scss/utils/functions" as fn;

.carousel {
  display: flex;
  height: auto ;
  width: 100%;
  min-height: fn.rem(550);
  max-height: fn.rem(550);
}

.carousel_card {
  display: flex;
  flex: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: fn.rem(550);
  max-height: fn.rem(550);
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 11px 3px color.$black-600;
  box-shadow: 0px 0px 11px 3px color.$black-600;
  opacity: 0;
  pointer-events: none;
  transform: scale(1);
  transition: 4s ease-in-out;
}
@media (width < 1024px) {
  .carousel {
    min-height: fn.rem(450);
    max-height: fn.rem(450);
    height: auto;
  }
}
// .carousel_wrapper {
//   position: relative;
//   width: 100%;
//   height: 100%;
//   min-height: fn.rem(550);
// }

// 

.carousel_card-active {
  opacity: 1;
  transform: scale(1);
  pointer-events: visible;
}

.card_image {
  width: 100%;
  object-fit: cover;
  min-height: 100%;
}

.card_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: color.$black-700;
  display: flex;
  padding: 40px 30px;
  align-items: flex-end;
}

@media(width < 700px){
  .carousel{
    min-height: fn.rem(400);
    max-height: fn.rem(400);
 }
  .carousel_wrapper{
    min-height: fn.rem(400);
 }
  .carousel_card{
    min-height: fn.rem(400);
  max-height: fn.rem(400);
  }
}
