@use "../../../../scss/style.scss";
// @use "../../scss/utils/functions" as fn;

.service-bg {
  background-image: url(../../../../assets/service-bg.png);
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  height: 50vh;
  background-position: center;
}
