.contact-bg {
  background-image: url(../../../../assets/contact_us_bg.png);
  background-repeat: no-repeat;
  // object-fit: cover;
  background-size: cover;
  height: 100%;
  // min-height: 70vh;
  width: 100%;
}
