@use "../../../scss/style.scss";
@use "../../../scss/utils/functions" as fn;

.about-bg {
  background-image: url(../../../assets/about_us_background.webp);
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  height: auto;
  min-height: fn.rem(300);
  background-position: center;
}

@media (width > fn.rem(700)) {
  .about-bg {
    min-height: fn.rem(448);
    height: auto;
  }
}
