@use "../../../scss/style.scss";

.about-bg {
  background-image: url(../../../assets/about_us_bg.png);
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  height: 50vh;
  background-position: center;
}
