.contact-bg{
    background-image: url();
    background-repeat: no-repeat;
    object-fit: conver;
    background-size: cover;
    background-position: center;
}
.contact-background{
    background-image: url(../../../assets/formBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 50vh;
}

