@use "../../scss/global/colors" as color;
@use "../../scss/utils/functions" as fn;

nav {
  

  // button {
  //   z-index: 10 !important;
  // }
  
  a::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 0;
    height: fn.rem(2) !important;
    border-radius: fn.rem(3);
    background-color: color.$red-100 !important;
    transition: width 0.5s ease-in;
  }

  a.active {
    color: color.$red-400;
  }

  a:hover::after {
    width: 100%;
  }

  a.active::after {
    width: 100%;
    background-color: color.$red-400 !important;
  }
}

@media screen and (max-width: 976px) {
  header {
    .menu {
      display: flex !important;
      position: absolute !important;
      padding: fn.rem(16);
      width: 100% !important;
      right: 0 !important;
      top: 100%;
      transition: all 0.5s ease-in-out;
      
    }
  
  }
}
