// VARIABLES

//red shades type
$red-100: #F2EDEB;
$red-200: #F2EDEB;
$red-300: #F2EDEB;
$red-400: #FE0000;
$red-500: #4A0707D6;

//black shades type
$black-100: #808080;
$black-200: #26282E;
$black-300: #26282E;
$black-400: #26282E;
$black-500: #000000;

//white shades type
$white-100: #FFFFFF; //white
$white-200: #FFFFFF;
$white-300: #FFFFFF;
$white-400: #FFFFFF;
$white-500: #FFFFFF; //grey /gray

