@use "global";
@use "utils";


@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "FiraCode-Regular";
  src: local("FiraCode-Regular"), url("../fonts/FiraCode-Regular.woff") format("truetype");
  font-weight: bold;
}